<% page.posts.each(function(post) { %>
  <article class="card">
    <div class="card-body">
      <h4 class="card-title">
        <a href="<%- config.root %><%- post.path %>">
          <%- post.title %>
        </a>
        <% if (post.tags && post.tags.length){ %>
          <span class="mx-3">
            <% post.tags.forEach(function(tag) { %>
              <a class="post-tag" href="<%= config.root + tag.path %>">
                <%= tag.name %>
              </a>
              <% }); %>
                <% } %>
          </span>
      </h4>

      <h5 class="text-muted card-subtitle">
        <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
          <%= date(post.date, null) %>
        </time>
      </h5>

      <div>
        <p>
          <% if (post.excerpt){ %>
            <%- post.excerpt %>
              <% } else { %>
                <%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %>
                  <% } %>
        </p>
        <% if (theme.excerpt_link) { %>
          <p>
            <a href="<%- config.root %><%- post.path %>" class="excerpt-link">
              <%= theme.excerpt_link %>...</a>
          </p>
          <% } %>
      </div>

    </div>
  </article>
  <% }); %>
    <%- bs_paginator({
      prev_text: '<i class="fa fa-chevron-left"></i> Prev',
      next_text: 'Next <i class="fa fa-chevron-right"></i>'
    }) %>