<% if (site.tags.length) { %>
  <div class="card">
    <div class="card-body">
      <% site.tags.sort('name').each(function(item){ %>
        <a class="post-tag" href="<%= config.root + item.path %>">
          <%= item.name %>
            <sup>
              <%= item.posts.length %>
            </sup>
        </a>
        <% }); %>
    </div>
  </div>

  <div>
    <% site.tags.sort('name').each(function(item){ %>
      <div>
        <a class="post-tag" data-toggle="collapse" id="<%= item.name %>" href="#modal-<%= item.name %>">
          <%= item.name %>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul id="modal-<%= item.name %>" class="collapse show">
          <% site.posts.sort('date', -1).forEach(function(it){ %>
            <% if (it.tags.data.map(function (e) { return e.name;; }).indexOf(item.name) > -1){ %>
              <li class="listing-item">
                <p class="post-title">
                  <small class="post-meta">
                    <time datetime="<%= date_xml(it.date) %>" itemprop="datePublished">
                      <%= date(it.date, null) %>
                    </time>
                  </small>
                  <a href="<%= config.root %><%= it.path %>" <% if (it.description) { %> title="
                    <%= it.description %>"
                      <% } %>>
                        <%= it.title %>
                  </a>
                </p>
              </li>
              <% } %>
                <% }); %>
        </ul>
      </div>

      <% }); %>
  </div>
  <% } %>